.App {
  text-align: center;
}

.todo-list {
  list-style-type: none;
}

.todo-div {
  display: flex;
  justify-content: center;
  /* max-width: 25%; */
}

.todo {
  display: flex;
  padding-bottom: 1.5%;
}

.delete-button {
  margin-left: 15px;
}

.edit-button {
  margin-left: 15px;
}

.strike-through {
  text-decoration: line-through;
}
